* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(cricpro-bg.png) ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vh;
    background-position: right;
  }

  #pagelogo{
    position: fixed;
    right: 70px;
    top: 30px;
  }


  #headings{
     height: 110px;
     width:600px;
     /* border: 2px solid red; */
     margin-top: 7%;
     margin-left: 10%;
  }

  #headings h1{
    font-family: 'Exo 2', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: -1px 3px 4px rgba(0,0,0,0.7);
  }

  #headings h4{
    font-family: 'Exo 2', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    opacity: 0.7;
    font-size: 20px;
    margin-left: 2px;
  }
  
  #midd{
    margin-top: 20px;
    height: 500px;
    width: 1000px;
    margin-left: 10%;
  }



    .tg{border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:17px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:17px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-n9g5{background-color:#ffffff;border-color:inherit;color:#000000;text-align:left;vertical-align:top}
    .tg .tg-af47{background-color:#ffffff;border-color:inherit;color:#000000;text-align:center;vertical-align:top}
    .tg .tg-ixme{background-color:#ef2d2d;border-color:inherit;text-align:left;vertical-align:center}

    table {
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    }
    
    tr {
        border-bottom: 1px solid #ccc;
    }
    
    th {
        text-align: left;    
    }

  
    #firstrow{
        height: 50px;
    }

    #score-right{
        float: right;
        margin-right: 10px;
    }

    #totalrun{
        float: right;
        margin-right: 180px;
    }

    #totalrun2{
        float: right;
        margin-right: 160px;
    }


    .popup{
        position: absolute;
        background-color: white;
        height: 250px;
        width: 520px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        padding: 10px;
        border: 2px solid black;
        gap: 10px;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 19px 2px rgba(0,0,0,0.75);
    }

    .popup div{
        border: 1px solid black;
        border-radius: 8px;
        padding: 8px;
        height: 220px;
        width: 300px;
        font-family: Calibri;
    }

    .popup span{
        position: absolute;
        left: 20px;
        bottom: 20px;
        color: blue;
        font-family: Calibri;
        cursor: pointer;
    }

    .popup img{
      width: 200px;
      height: 220px;
      border-radius: 8px;
      object-fit: cover;
    }


 
    #popup1{
        visibility: hidden;
        margin-top: 100px;
        margin-left: 150px;
    }

    #popup2{
        visibility: hidden;
        margin-top: 148px;
        margin-left: 150px;
    }
    #popup3{
        visibility: hidden;
        margin-top: 188px;
        margin-left: 150px;
    }
    #popup4{
        visibility: hidden;
        margin-top: 238px;
        margin-left: 150px;
    }
    #popup5{
        visibility: hidden;
        margin-top: 273px;
        margin-left: 150px;
    }
    #popup6{
        visibility: hidden;
        margin-top: 333px;
        margin-left: 150px;
    }

    #yuvraj{
        color: blue;
        font-weight: bolder;
        cursor: pointer;
    }

    #msd{
        color: blue;
        font-weight: bolder;
        cursor: pointer;
    }
    #virat{
        color: blue;
        font-weight: bolder;
        cursor: pointer;
    }
    #gautam{
        color: blue;
        font-weight: bolder;
        cursor: pointer;
    }
    #sachin{
        color: blue;
        font-weight: bolder;
        cursor: pointer;
    }
    #virendra1{
        color: blue;
        font-weight: bolder;
        cursor: pointer;
    }


    .footer{
        margin-left: 10%;
        margin-top: 20px;
    }